.auth-button[data-provider='facebook'] {
  background-color: #4267b2;
  color: #fff;
}

.auth-button[data-provider^='twitter'] {
  background-color: #1da1f2;
  color: #fff;
}

.auth-button[data-provider='linkedin'] {
  background-color: #0077b5;
  color: #fff;
}

.auth-button[data-provider='google'] {
  background-color: #fff;
  color: #555;
  border: 1px solid var(--color-stroke);
}

.auth-button[data-provider='github'] {
  background-color: #333;
  color: #fff;
}

.auth-button[data-provider='gitlab'] {
  background-color: #e24329;
  color: #fff;
}

.auth-button[data-provider='bitbucket'] {
  background-color: #205081;
  color: #fff;
}
