.composer {
  --height-transition-duration: 0s;

  border-radius: var(--radius);
  background: var(--color-bg);
  transition: box-shadow 0.2s, border 0.2s, height var(--height-transition-duration), bottom 0.2s;
  max-height: 90vh;

  // The composer is "static" (cannot be opened/closed) on a standalone comment page
  &.is-static {
    position: static;
    height: 70vh !important;

    .composer__close {
      visibility: hidden;
      width: var(--space-xs);
    }
  }

  &:not(.is-open) {
    --height-transition-duration: 0.2s;
    height: 4.75em !important; // override user resizing
    bottom: -4.75em;

    .composer__form {
      display: none;
    }
  }

  &.is-open {
    --color-bg: var(--palette-surface);
    --focus-shadow: 0 0 0 transparent;
    border: 1px solid var(--color-stroke);
    bottom: calc(-1 * var(--radius));
    box-shadow: var(--focus-shadow);
    height: 300px;
    min-height: 200px;

    &:focus-within {
      --focus-shadow: 0 0 0 2px var(--color-accent);
      border-color: transparent;
    }

    .composer__placeholder {
      display: none;
    }
  }
}

@media (--lg-up) {
  .composer {
    position: sticky;

    &.is-stuck {
      border-color: transparent;
      box-shadow: var(--focus-shadow), var(--shadow-md);
      padding-bottom: var(--radius);
      z-index: var(--z-index-overlay);
    }
  }
}

.composer__placeholder {
  border: 2px dashed var(--color-stroke);
  border-radius: var(--radius);
  padding: var(--space-md);
  cursor: text;
  transition: box-shadow 0.2s, border 0.2s, color 0.2s;
  text-decoration: none !important;

  &:hover {
    box-shadow: var(--shadow-md);
    border-color: transparent;
    color: inherit;
  }

  .avatar {
    width: var(--control-height);
  }
}

.composer__form {
  .text-editor {
    min-height: 0;
    border: 0;
    box-shadow: none;
  }

  .text-editor__input {
    resize: none;
  }
}

.composer__handle {
  position: absolute;
  left: 100px;
  right: 100px;
  top: -5px;
  height: 20px;
  cursor: ns-resize;

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 5px;
    border-radius: var(--radius);
    background: var(--color-fill);
  }
}

.composer__toolbar {
  padding: var(--space-xxs);
  border-bottom: 1px solid var(--color-stroke);
}

// The "replying to" bit
.composer__parent {
  padding-left: var(--space-sm);
}
