.comment {
  --comment-padding: var(--space-lg);
  --comment-padding-left: var(--comment-padding);

  padding: var(--comment-padding);
  padding-left: var(--comment-padding-left);
  transition: background 0.2s;

  @media (--md-up) {
    --comment-padding-left: calc(
      var(--attribution-avatar-size) + var(--space-md) + var(--comment-padding)
    );

    .attribution {
      padding-left: 0;
    }

    .attribution__info {
      display: inline;
      margin-left: var(--space-xxs);
    }
  }

  &.is-highlighted,
  :focus > &,
  :target > & {
    background: var(--color-warning-soft);
  }

  &.is-answer {
    border: 2px solid var(--color-success);
    box-shadow: inset 0 0 10px 2px var(--color-success-soft);
    margin-block: -1px;
  }
}

.comment.is-removed {
  padding-top: var(--space-xs);
  background: var(--palette-fill-soft);

  &.is-expanded > .comment__removed {
    margin-bottom: var(--space-sm);

    .icon-tabler-chevron-right {
      transform: rotate(90deg);
    }
  }

  &:not(.is-expanded) {
    padding-bottom: var(--space-xs);

    > .comment__removed ~ * {
      display: none;
    }
  }
}

// The "in reply to" bit in the comment header
.comment__parent {
  margin-top: var(--space-xs);
  width: fit-content;

  > a {
    color: var(--color-muted);
    font-size: var(--text-xs);
    font-weight: var(--weight-medium);
  }
}

.comment__parent-tooltip {
  max-width: 80ch;
  overflow: hidden;
  text-align: left;
  padding: 0;

  .comment {
    --comment-padding: var(--space-md);
  }

  .comment > * + * {
    margin-top: var(--space-xs);
  }
}

.comment__replies {
  margin-top: var(--space-md);

  .comment__parent {
    display: none;
  }

  .comment {
    --comment-padding: var(--space-md);
  }
}

.comment-list {
  .card__row {
    padding: 0;
  }

  #page_1 + .card__row {
    border-top: 0;
  }
}
