.comment {
  --comment-padding: var(--space-lg);
  --comment-padding-left: var(--comment-padding);

  padding: var(--comment-padding);
  padding-left: var(--comment-padding-left);
  transition: background 0.2s;

  @media (--md-up) {
    --comment-padding-left: calc(
      var(--attribution-avatar-size) + var(--space-md) + var(--comment-padding)
    );

    .attribution {
      padding-left: 0;
    }

    .attribution__info {
      display: inline;
      margin-left: var(--space-xxs);
    }
  }

  &.is-highlighted {
    background: var(--color-warning-soft);
  }

  &.is-answer {
    box-shadow:
      inset 0 0 0 2px var(--color-success),
      inset 0 0 10px 2px var(--color-success-soft);
    border-radius: var(--radius);
  }

  &.is-saved {
    box-shadow:
      inset 0 0 0 2px var(--color-accent),
      inset 0 0 10px 2px var(--color-accent-soft);
    border-radius: var(--radius);
  }
}

.comment.is-removed {
  padding-top: var(--space-md);
  background: var(--palette-fill);

  &.is-expanded > .removed-banner {
    margin-bottom: var(--space-lg);

    .icon-tabler-chevron-right {
      transform: rotate(90deg);
    }
  }

  &:not(.is-expanded) {
    padding-bottom: var(--space-md);

    > .removed-banner ~ * {
      display: none;
    }
  }
}

@media (--sm) {
  .comment.is-removed:not(.is-expanded) .removed-banner__attribution {
    display: none;
  }
}

@media (--md-up) {
  .comment__icon {
    position: absolute;
    margin-left: calc(-1 * (var(--attribution-avatar-size) + var(--space-md)));
    width: var(--attribution-avatar-size);
    text-align: right;
  }
}

// The "in reply to" bit in the comment header
.comment__parent {
  margin-top: var(--space-xs);
  width: fit-content;

  > a {
    color: var(--color-muted);
    font-size: var(--text-xs);
    font-weight: var(--weight-medium);
  }
}

.comment__parent-tooltip {
  max-width: 80ch;
  overflow: hidden;
  text-align: left;
  padding: 0;

  .comment {
    --comment-padding: var(--space-md);
  }

  .comment > * + * {
    margin-top: var(--space-xs);
  }
}

.comment__replies {
  margin-top: var(--space-md);

  .comment__parent {
    display: none;
  }

  .comment {
    --comment-padding: var(--space-md);
  }
}

.comment-list {
  .card__row {
    padding: 0;
  }

  #page_1 + .card__row {
    border-top: 0;
  }
}
