.comment {
  padding: var(--space-lg);
  padding-left: calc(var(--attribution-avatar-size) + var(--space-md) + var(--space-lg));
  border-radius: var(--radius);
  position: relative;
  transition: background 0.2s;

  .attribution {
    padding-left: 0;
  }

  @media (--md-up) {
    .attribution__info {
      display: inline;
      margin-left: var(--space-xxs);
    }
  }

  &.is-highlighted,
  :focus > &,
  :target > & {
    background: var(--color-warning-soft);
  }

  &.is-answer {
    border: 2px solid var(--color-success);
    box-shadow: inset 0 0 10px 2px var(--color-success-soft);
    margin-block: -1px;
  }
}

// The "in reply to" bit in the comment header
.comment__parent {
  margin-top: var(--space-xs);
  width: fit-content;

  > a {
    color: var(--color-muted);
    font-size: var(--text-xs);
    font-weight: var(--weight-medium);
  }
}

.comment__parent-tooltip {
  max-width: 80ch;
  max-height: 10em;
  overflow: hidden;
  text-align: left;
  padding-block: 0;

  .comment > * + * {
    margin-top: var(--space-xs);
  }
}

.comment__replies {
  margin-top: var(--space-md);

  .comment__parent {
    display: none;
  }
}

.comment-list {
  .card__row {
    padding: 0;
  }

  .comment {
    border-radius: 4px;
  }
}
