.flag-container {
  border: 2px solid var(--color-activity);
  box-shadow: inset 0 0 20px 2px var(--color-activity-soft);
  border-radius: var(--radius) !important;
  overflow: clip;

  > .alert {
    border-radius: 0;
  }
}

.flags-menu {
  max-width: 50ch;
}
