.flag-container {
  border: 2px solid var(--color-activity);
  box-shadow: inset 0 0 10px 2px var(--color-activity-soft);
  margin-block: -1px;
  border-radius: var(--radius);
  overflow: clip;

  > .alert {
    border-radius: 0;
  }
}
