.header {
  --color-bg: var(--palette-surface);

  position: sticky;
  top: -1px; // ensures that .is-stuck only applies when scrolled down
  z-index: var(--z-index-header);
  transition: box-shadow 0.2s;
  background: var(--color-bg);
  box-shadow: var(--shadow-sm);

  .container {
    height: var(--header-height);
  }
}

.header-breadcrumb {
  color: var(--color-muted);
  transition:
    opacity 0.2s,
    transform 0.2s;
  margin-left: var(--space-xs);
  flex-shrink: 99;

  &::before {
    content: '\203A';
    margin: 0 var(--space-xs);
  }

  &[hidden] {
    display: block !important;
    visibility: hidden;
    transform: translateY(10px);
    opacity: 0;
    transition:
      opacity 0.2s,
      transform 0.2s,
      visibility 0s 0.2s;
  }
}

.header-search__form {
  margin-right: var(--space-xs);

  input {
    width: 30ch;
  }
}

.header-user {
  margin-left: var(--space-xs);
}

.email-verification-banner {
  padding-block: var(--space-md);
}
