// When the sidebar becomes horizontal, move the create post button to the right side.
@container (width <= 52rem) {
  .index-sidebar .index-create-post {
    margin-left: auto;
  }
}

.index-footer {
  margin-top: var(--space-lg);
}

.structure-children__items {
  --grid-min: 30ch;
}
