.notifications-menu {
  width: 55ch;
  max-width: 100%;
  max-height: 40em;

  .menu-item {
    margin-top: 2px;
  }
}

.notification {
  & strong {
    font-weight: var(--weight-medium);
    color: var(--color-accent-text);
  }

  &.is-unread {
    background-color: var(--color-bg);
    background-image: linear-gradient(
      var(--color-activity-soft),
      var(--color-activity-soft)
    );

    > .icon,
    .notification__time,
    strong {
      color: var(--color-activity-text);
    }
  }
}

.notification-grid {
  .choice {
    width: 8ch;
  }
}

.alert--notification {
  background-color: var(--color-bg);
  background-image: linear-gradient(
    var(--color-activity-soft),
    var(--color-activity-soft)
  );

  .alert__message {
    margin: calc(-1 * var(--space-xs));
    line-height: unset;
  }

  .notification__time {
    display: none;
  }
}
