.post-header {
  .post-tags-summary {
    .tag {
      font-size: var(--text-sm);
    }
  }

  .attribution,
  .post-title {
    width: 100%;
  }
}

.post-page {
  .sidebar {
    flex-basis: 16ch;
  }
}

.post-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (--md-down) {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
  }
}

#comments {
  scroll-margin-top: calc(var(--space-lg) + var(--header-height));
}

.comments-pagination__pages {
  max-height: 20rem;
}
