.post-feed__pinned {
  --grid-min: 31ch;
}

.post-feed__refresh {
  position: sticky;
  top: calc(var(--header-height) + var(--space-md));

  > * {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn {
    box-shadow: var(--shadow-md);
  }
}

.post-list > :first-child > .post-list-item:first-of-type {
  border-top: 0;
}

.post-list-item {
  padding: var(--space-md);
}

@media (--md-up) {
  .post-list-item {
    padding-left: var(--space-lg);
  }
}

.post-list-item__avatar {
  width: 2.5rem;
  text-decoration: none !important;
  flex-shrink: 0;
}

.post-list-item__avatar,
.post-list-item__end,
.post-list-item__controls {
  margin-top: 3px;
}

@media (--sm) {
  .post-list-item__main {
    width: 100%;
  }

  .post-list-item__upper {
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  .post-list-item__end {
    flex-direction: row-reverse;
  }
}

.post-title-link {
  padding: 10px 0;
  margin: -10px 0;
  display: block;
  color: inherit;

  .not-logged-in &:visited,
  .is-read & {
    color: var(--color-muted);
  }
}

.is-read .post-list-item__unread {
  display: none;
}

.post-cards {
  .post-card {
    margin-bottom: var(--space-lg);
  }
}

// Hide the channel label from posts when we're viewing a specific channel
[data-route='waterhole.channels.show'] .post-feed__content .channel-badge {
  display: none;
}
