.post-header {
  .post-tags-summary {
    .tag {
      font-size: var(--text-sm);
    }
  }

  .attribution,
  .post-title {
    width: 100%;
  }
}

.post-page {
  .sidebar {
    flex-basis: 16ch;
    flex-shrink: 1;
  }
}

#comments {
  scroll-margin-top: calc(var(--space-lg) + var(--header-height));
}

.comments-pagination__pages {
  max-height: 20rem;
}
