.text-editor {
  padding: 0;
  height: auto;
  min-height: 15em;
}

.text-editor__toolbar {
  margin: var(--space-xxs);
  margin-bottom: 0;

  .is-previewing & {
    z-index: 1;
    pointer-events: none;

    > * {
      pointer-events: all;
    }

    > :not(.text-editor__preview-button) {
      display: none;
    }
  }
}

.text-editor__expander {
  position: relative;
}

.text-editor__input {
  width: 100%;
  outline: none;
  padding: var(--space-xs) var(--space-md);
  resize: vertical;
  border: 0;
  background: transparent;
  max-height: 70vh;
  position: relative;
  box-shadow: none !important;

  &[hidden] {
    display: initial !important;
    visibility: hidden;
  }
}

.text-editor__preview {
  overflow: auto;
  padding: var(--space-md);
}
