{
    "singleQuote": true,
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "bladeDirectiveArgSpacing": "preserve"
            }
        },
        {
            "files": ["*.css"],
            "options": {
                "parser": "scss"
            }
        }
    ]
}
