{
    "singleQuote": true,
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        },
        {
            "files": ["*.css"],
            "options": {
                "parser": "less"
            }
        }
    ]
}
