{
    "singleQuote": true,
    "phpVersion": "8.1",
    "plugins": ["@prettier/plugin-php", "prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "printWidth": 100
            }
        },
        {
            "files": ["*.css"],
            "options": {
                "parser": "less"
            }
        }
    ]
}
