.alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-alerts);

  > * {
    pointer-events: auto;
    box-shadow: var(--shadow-md);
  }

  @media (--sm) {
    align-items: stretch;
    top: auto;
    bottom: 0;
  }

  @media (--md-up) {
    > * {
      max-width: 50ch;
    }
  }
}
