:root {
  --attribution-avatar-size: 2.5em;
}

.attribution {
  padding-left: calc(var(--attribution-avatar-size) + var(--space-md));

  .avatar {
    position: absolute;
    margin-left: calc(-1 * (var(--attribution-avatar-size) + var(--space-md)));
    width: var(--attribution-avatar-size);
    height: var(--attribution-avatar-size);
  }
}

.attribution__link {
  color: inherit;
  font-weight: var(--weight-medium);
  text-decoration: none !important;
  margin-right: var(--space-xxs);

  &:hover .attribution__name {
    text-decoration: underline;
  }
}

.attribution__info {
  display: block;
  font-size: var(--text-xs);
  color: var(--color-muted);
  margin-top: var(--space-xxs);

  > * + *::before {
    content: ' \00B7 ';
  }
}
