:root {
  scroll-behavior: auto;
}

html {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-text);
  font-size: var(--text-sm);
  line-height: var(--line-height-default);

  @media (--sm) {
    font-size: 95%;
  }
}

input,
textarea,
select {
  color: var(--color-text);
}

* {
  overflow-wrap: anywhere;
  -webkit-tap-highlight-color: transparent;
}

a,
.link {
  color: var(--color-accent-text);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--color-stroke);
  margin: var(--space-xl) 0;
}

strong {
  font-weight: var(--weight-bold);
}

mark {
  background: transparent;
  font-weight: var(--weight-bold);
  color: var(--color-accent-text);
}

pre,
code {
  font-family: var(--font-mono);
}

:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

[tabindex='-1']:focus {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

.waterhole {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  min-height: 100svh;
}

.waterhole__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  // Bug on Chrome 121: textarea with scroll-margin-top scrolls the
  // viewport when selecting text
  *:not(textarea) {
    scroll-margin-top: var(--header-height);
  }
}

@media (prefers-reduced-motion: no-preference) {
  ui-popup > .enter-active,
  ui-popup > .leave-active {
    transition:
      transform var(--transition-duration) var(--ease-out),
      opacity var(--transition-duration) var(--ease-out);
  }

  ui-popup > .enter-from,
  ui-popup > .leave-to {
    transform: scale(0);
    opacity: 0;
  }

  ui-popup::part(backdrop),
  ui-popup > :nth-child(2) {
    z-index: var(--z-index-overlay);
  }
}

[data-placement='bottom'] {
  transform-origin: top center;
}
[data-placement='bottom-start'] {
  transform-origin: top left;
}
[data-placement='bottom-end'] {
  transform-origin: top right;
}
[data-placement='top'] {
  transform-origin: bottom center;
}
[data-placement='top-start'] {
  transform-origin: bottom left;
}
[data-placement='top-end'] {
  transform-origin: bottom right;
}
[data-placement='left'] {
  transform-origin: right center;
}
[data-placement='left-start'] {
  transform-origin: right top;
}
[data-placement='left-end'] {
  transform-origin: right bottom;
}
[data-placement='right'] {
  transform-origin: left center;
}
[data-placement='right-start'] {
  transform-origin: left top;
}
[data-placement='right-end'] {
  transform-origin: left bottom;
}

[data-placement^='top'] {
  margin-top: calc(-1 * var(--space-xs));
}
[data-placement^='bottom'] {
  margin-top: var(--space-xs);
}
[data-placement^='left'] {
  margin-left: calc(-1 * var(--space-xs));
}
[data-placement^='right'] {
  margin-left: var(--space-xs);
}
