.btn {
  --btn-height: var(--control-height);
  --btn-padding: calc(0.4 * var(--btn-height));

  height: var(--btn-height);
  background: var(--color-fill);
  color: var(--color-text);
  border-radius: var(--control-radius);
  border: 0;
  margin: 0;
  display: inline-flex;
  gap: var(--space-xxs);
  align-items: center;
  justify-content: center;
  padding: 0 var(--btn-padding);
  text-decoration: none !important;
  font-weight: var(--weight-medium);
  white-space: nowrap;
  vertical-align: middle;
  flex-shrink: 0;

  @mixin clickable;
}

// Outline

.btn--outline {
  border: 1px solid var(--color-stroke);
  background: transparent;
  color: var(--color-muted);

  &:hover:not(:disabled, .is-disabled, .is-inert) {
    background: var(--color-bg);
  }
}

// Transparent

:where(:not([open]))
  > .btn--transparent:where(:not(:hover, .is-hovered, :focus, .is-focused)),
.btn--transparent:is(:disabled, .is-disabled),
.btn--transparent:not(button, a, [role='button'], [role='link']) {
  background: transparent;
  color: var(--color-muted);
}

// Sizes

.btn--sm {
  --btn-height: var(--control-height-small);
  --btn-padding: calc(0.3 * var(--btn-height));

  font-size: 87.5%;
}

.btn--narrow {
  --btn-padding: calc(0.3 * var(--btn-height));
}

.btn--wide {
  --btn-padding: calc(0.5 * var(--btn-height));
}

.btn--start {
  margin-left: calc(-1 * var(--btn-padding));
}

.btn--end {
  margin-right: calc(-1 * var(--btn-padding));
}

// Icon button

.btn--icon {
  @mixin btn--icon;
}

@media (--sm) {
  .btn--icon-sm {
    @mixin btn--icon;
  }
}

// Active state

.btn {
  &.is-active,
  &[aria-pressed='true'],
  :checked + & {
    color: var(--color-accent-text) !important;
    background: var(--color-accent-soft) !important;
    border-color: transparent;
  }
}

// Button group

.btn-group {
  display: flex;
  align-items: stretch;
  gap: 1px;

  > :first-child:not(:only-child) {
    &,
    > .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  > :not(:first-child, :last-child) {
    &,
    > .btn {
      border-radius: 0;
    }
  }

  > :last-child:not(:only-child) {
    &,
    > .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
