.card {
  --color-bg: var(--palette-surface);

  border-radius: var(--radius);
  background: var(--color-bg);
  box-shadow: var(--shadow-sm);
  overflow: clip;
}

.card .card,
.dialog .card {
  border: 1px solid var(--color-fill);
}

.card__header {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius) var(--radius) 0 0;
  background: var(--color-bg);

  &summary {
    @mixin clickable;
    transform: none !important;
    outline: none !important;

    &::marker,
    &::-webkit-details-marker {
      color: var(--color-stroke);
      margin-right: var(--space-sm);
    }

    &:focus-visible {
      background: var(--color-accent-soft);
    }
  }
}

details.card:not([open]) .card__header {
  border-radius: var(--radius);
}

.card__body {
  padding: min(var(--space-gutter), var(--space-lg));
}

.card__row {
  padding: var(--space-sm) var(--space-md);

  :not(.divider) + & {
    border-top: 1px solid var(--color-fill);
  }
}

.card-list {
  > * {
    margin-bottom: var(--space-lg);
  }
}

@media (--sm) {
  .container .card:not(.card .card) {
    margin-inline: calc(-1 * var(--space-gutter)) !important;
    border-radius: 0;

    > .card__header {
      border-radius: 0;
    }
  }
}
