.dialog {
  --color-bg: var(--palette-surface);

  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  background: var(--color-bg);
  color: var(--color-text);
}

.dialog__header {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-xl);
  padding-bottom: 0;
}

.dialog__body {
  padding: var(--space-xl);
}

.dialog--sm {
  width: 45ch;
}

@media (--sm) {
  .dialog__header,
  .dialog__body {
    padding: var(--space-gutter);
  }

  .dialog__header {
    padding-bottom: 0;
  }

  .container .dialog {
    margin-inline: calc(-1 * var(--space-gutter)) !important;
    border-radius: 0;
    max-width: none;
  }
}
