.js img[data-lightbox-image] {
  cursor: zoom-in;
}

.js img[data-lightbox-image]:focus-visible {
  outline-offset: 3px;
}

.pswp__caption {
  position: absolute;
  bottom: var(--space-md);
  left: 50%;
  max-width: calc(100% - var(--space-xl));
  transform: translateX(-50%);
  background: rgb(0 0 0 / 60%);
  color: white;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius);
  text-align: center;
}
