:root {
  --sidebar-width: 25ch;
}

.with-sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-gutter);
}

.with-sidebar > :not(.sidebar) {
  flex-grow: 999;
  min-width: 0;
}

.sidebar {
  display: flex;
}

@media (--md-down) {
  .with-sidebar {
    flex-direction: column;
    gap: var(--space-md);
    align-items: stretch;
  }

  .with-sidebar > :not(.sidebar) {
    width: 100%;
  }

  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sidebar--bottom {
    position: sticky;
    bottom: var(--space-lg);
    margin-left: auto;
    background: var(--color-bg);
    width: fit-content;
    padding: var(--space-xxs);
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    flex-basis: auto !important;
    align-items: center;
    z-index: var(--z-index-header);
    height: var(--toolbar-height) !important;
    border-radius: 99px;
    box-shadow: var(--shadow-md);
  }
}

@media (--lg-up) {
  .sidebar {
    flex-basis: var(--sidebar-width);
    flex-shrink: 0;
    flex-direction: column;
  }

  .sidebar--sticky {
    position: sticky;
    top: var(--header-height);
    margin-block: calc(-1 * var(--space-gutter));
    padding-block: var(--space-gutter);
    max-height: calc(100vh - var(--header-height) - 2 * var(--space-gutter));
    overflow: auto;
    box-sizing: content-box;
  }

  .sidebar__collapsed {
    display: none;
  }
}
