:root {
  --sidebar-width: 25ch;
}

.with-sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-gutter);
}

.with-sidebar > :not(.sidebar) {
  flex-grow: 999;
  min-width: 0;
}

.with-sidebar--flush {
  justify-content: flex-start;
  gap: 0;
}

.sidebar {
  display: flex;
}

.forum-layout .waterhole__body > .sidebar {
  --sidebar-width: clamp(20ch, 17cqw, 25ch);
}

@container (width <= 52rem) {
  .with-sidebar {
    @mixin sidebar--compact;
  }
}

@container (width > 52rem) {
  .sidebar {
    flex-basis: var(--sidebar-width);
    flex-shrink: 0;
    flex-direction: column;
  }

  .sidebar--sticky {
    position: sticky;
    top: var(--header-height);
    margin-block: calc(-1 * var(--space-gutter));
    padding-block: var(--space-gutter);
    max-height: calc(100vh - var(--header-height) - 2 * var(--space-gutter));
    overflow: auto;
    box-sizing: content-box;
  }

  .with-sidebar--flush > .sidebar {
    padding-inline-start: var(--space-gutter);
  }

  .sidebar__collapsed {
    display: none;
  }
}

// Give page-specific sidebars priority by compacting the global sidebar before
// it leaves the main area too narrow.
@container (width <= 70rem) {
  .forum-layout .waterhole__body.with-sidebar {
    @mixin sidebar--compact;
  }
}
