.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-inline: calc(-1 * var(--space-sm));
}

.tab {
  color: var(--color-muted);
  font-weight: var(--weight-medium);
  text-decoration: none !important;
  padding: var(--space-xs) var(--space-sm);
  white-space: nowrap;
  min-width: 2ch;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;

  &:not(.is-disabled, [aria-disabled='true']) {
    &:hover,
    &.is-hovered {
      color: var(--color-text);
    }
  }

  &.is-active,
  &[aria-current='page'],
  &[aria-selected='true'] {
    color: var(--color-accent-text) !important;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      min-width: 2ch;
      width: calc(100% - 2 * var(--space-sm));
      background: var(--color-accent-soft);
      height: 4px;
      border-radius: var(--radius);
    }
  }

  &.is-disabled,
  &[aria-disabled='true'] {
    opacity: 0.3;
    cursor: default;
  }
}

.tabs--vertical {
  margin-right: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  font-size: var(--text-xs);

  .tab {
    text-align: left;
    padding-block: var(--space-xxs);
    padding-inline: var(--space-sm);

    &.is-active,
    &[aria-current='page'],
    &[aria-selected='true'] {
      &::after {
        width: 4px;
        height: calc(100% - 2 * var(--space-xxs));
        bottom: var(--space-xxs);
        left: 0;
        transform: none;
        min-width: 0;
      }
    }
  }
}
