ui-tooltip {
  // .visually-hidden
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tooltip {
  background: var(--color-emphasis);
  border-radius: var(--radius);
  box-shadow: var(--space-md);
  color: var(--color-emphasis-contrast);
  font-size: var(--text-xs);
  font-weight: var(--weight-medium);
  max-width: 30ch;
  padding: var(--space-xs) var(--space-sm);
  z-index: var(--z-index-overlay);
  text-align: center;
  overflow: hidden;

  --color-text: var(--color-emphasis-contrast);
  --color-muted: rgb(255 255 255 / 0.5);
  --color-accent: var(--color-text);

  & small {
    font-size: var(--text-xxs);
    color: var(--color-muted);
  }

  &.enter-active,
  &.leave-active {
    transition:
      opacity 0.2s,
      transform 0.2s;
  }

  &.enter-from,
  &.leave-to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.tooltip--block {
  text-align: left;
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--text-xxs);
}
