// Accessibility

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Layout

.container {
  margin-inline: auto;
  padding-inline: var(--space-gutter);
  max-width: 76rem;
  width: 100%;
}

.section {
  padding-block: var(--space-gutter);
}

// Typographic measure

.measure {
  max-width: var(--measure);
}

// Size

@each $size in (px, xxs, xs, sm, md, lg, xl, xxl, xxxl, gutter) {
  .gap-$(size) {
    gap: var(--space-$(size));
  }

  .gap-x-$(size) {
    column-gap: var(--space-$(size));
  }

  .gap-y-$(size) {
    row-gap: var(--space-$(size));
  }

  .p-$(size) {
    padding: var(--space-$(size));
  }

  .px-$(size) {
    padding-inline: var(--space-$(size));
  }

  .py-$(size) {
    padding-block: var(--space-$(size));
  }

  .m-$(size) {
    margin: var(--space-$(size));
  }

  .mx-$(size) {
    margin-inline: var(--space-$(size));
  }

  .my-$(size) {
    margin-block: var(--space-$(size));
  }

  .mt-$(size) {
    margin-top: var(--space-$(size));
  }

  .-m-$(size) {
    margin: calc(-1 * var(--space-$(size)));
  }

  .-mx-$(size) {
    margin-inline: calc(-1 * var(--space-$(size)));
  }

  .-my-$(size) {
    margin-block: calc(-1 * var(--space-$(size)));
  }

  .-mt-$(size) {
    margin-top: calc(-1 * var(--space-$(size)));
  }
}

// Flexbox and Grid

.stack {
  display: flex;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

.row {
  display: flex;
  align-items: center;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min, 15ch), 100%), 1fr));
}

.block {
  display: block;
  width: 100%;
}

.inline {
  display: inline;
  vertical-align: middle;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

.push-start {
  margin-inline-end: auto;
}

.push-center {
  margin-inline: auto;
}

.push-end {
  margin-inline-start: auto;
}

@media (--sm) {
  .break-sm {
    order: 999;
    width: 100%;
    flex-grow: 1;
  }
}

.grow {
  flex-grow: 1;
}

.shrink {
  min-width: 0;
}

.no-shrink {
  flex-shrink: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.nowrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.dividers {
  > * + * {
    border-top: 1px solid var(--color-stroke);
    margin-top: var(--space-lg);
    padding-top: var(--space-lg);
  }
}

// Float

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Overflow

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.scrollable,
.scrollable-x,
.scrollable-y {
  position: relative;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: sticky;
    z-index: 10;
    flex-shrink: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
  }
}

.scrollable-x {
  &::before,
  &::after {
    width: 40px;
    margin-left: -40px;
    align-self: stretch;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(to right, var(--color-bg), transparent);
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to left, var(--color-bg), transparent);
  }

  &.is-scrolled-right::before,
  &.is-scrolled-left::after {
    opacity: 1;
  }
}

.scrollable-y {
  &::before,
  &::after {
    height: 40px;
    margin-top: -40px;
    width: 100%;
  }

  &::before {
    top: 0;
    background-image: linear-gradient(to bottom, var(--color-bg), transparent);
  }

  &::after {
    bottom: 0;
    background-image: linear-gradient(to top, var(--color-bg), transparent);
  }

  &.is-scrolled-down::before,
  &.is-scrolled-up::after {
    opacity: 1;
  }
}

// Rotation

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.flip-horizontal {
  transform: scaleX(-1);
}

.flip-vertical {
  transform: scaleY(-1);
}

// Text Alignment

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Text Color

.color-text {
  color: var(--color-text);
}

.color-muted {
  color: var(--color-muted);
}

.color-accent {
  color: var(--color-accent-text);
}

.color-success {
  color: var(--color-success-text);
}

.color-warning {
  color: var(--color-warning-text);
}

.color-danger {
  color: var(--color-danger-text);
}

.color-activity {
  color: var(--color-activity-text);
}

.color-inherit {
  color: inherit;
}

// Text Size

.text-xxs {
  font-size: var(--text-xxs);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-xxl {
  font-size: var(--text-xxl);
}

// Animation

.animate-shake {
  animation: shake 0.8s;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.animate-appear {
  animation: appear 0.5s;
}

@keyframes appear {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

// Background Color

.bg-emphasis,
.bg-accent,
.bg-success,
.bg-warning,
.bg-danger,
.bg-activity {
  --color-fill: rgb(255 255 255 / 0.1);
  --color-stroke: rgb(255 255 255 / 0.25);
  --color-muted: var(--color-text);
  --color-accent: var(--color-text);
  --color-accent-text: var(--color-text);

  background-color: var(--color-bg);
  color: var(--color-text);
}

.bg-fill {
  background-color: var(--color-fill);
}

.bg-emphasis {
  --color-bg: var(--palette-emphasis);
  --color-text: var(--palette-emphasis-contrast);
}

.bg-accent {
  --color-bg: var(--palette-accent);
  --color-text: var(--palette-accent-contrast);
}

.bg-accent-soft {
  background-color: var(--color-accent-soft);
  color: var(--color-accent-text);
}

.bg-success {
  --color-bg: var(--palette-success);
  --color-text: var(--palette-success-contrast);
}

.bg-success-soft {
  background-color: var(--color-success-soft);
  color: var(--color-success-text);
}

.bg-warning {
  --color-bg: var(--palette-warning);
  --color-text: var(--palette-warning-contrast);
}

.bg-warning-soft {
  background-color: var(--color-warning-soft);
  color: var(--color-warning-text);
}

.bg-danger {
  --color-bg: var(--palette-danger);
  --color-text: var(--palette-danger-contrast);
}

.bg-danger-soft {
  background-color: var(--color-danger-soft);
  color: var(--color-danger-text);
}

.bg-activity {
  --color-bg: var(--palette-activity);
  --color-text: var(--palette-activity-contrast);
}

.bg-activity-soft {
  background-color: var(--color-activity-soft);
  color: var(--color-activity-text);
}

// Interactions

.no-pointer {
  pointer-events: none;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.clickable {
  @mixin clickable;
}

.cursor-default {
  cursor: default !important;
}

.cursor-help {
  cursor: help !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

// JavaScript

.js .no-js-only,
.no-js .js-only {
  display: none !important;
}

// Border Radius

.rounded {
  border-radius: var(--radius);
}

.pill {
  border-radius: 999px;
}

// Overlay

.overlay-container {
  position: relative;
}

.overlay,
.has-overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.has-overlay::before {
  content: '';
}

// Truncated

.truncated {
  overflow: hidden;
  position: relative;
  max-height: 15em;
}

.truncated__expander {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5em;
  background: linear-gradient(to bottom, transparent, var(--color-bg) 60%);
  display: flex;
  align-items: flex-end;
}

// Font Family

.font-text {
  font-family: var(--font-text);
}

.font-display {
  font-family: var(--font-display);
}

.font-mono {
  font-family: var(--font-mono);
}

// Font Weight

.weight-normal {
  font-weight: var(--weight-normal);
}

.weight-medium {
  font-weight: var(--weight-medium);
}

.weight-bold {
  font-weight: var(--weight-bold);
}

// Underline

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

// Responsive Hiding

@media (--sm) {
  .hide-sm {
    display: none !important;
  }
}

@media (--md-up) {
  .hide-md-up {
    display: none !important;
  }
}

@media (--md-down) {
  .hide-md-down {
    display: none !important;
  }
}

@media (--lg-up) {
  .hide-lg-up {
    display: none !important;
  }
}

@media (--lg-down) {
  .hide-lg-down {
    display: none !important;
  }
}

.hide-if-not-only-child:not(:only-child),
.hide-if-empty:empty {
  display: none;
}

// Dark mode

[data-theme='dark'] .light-only,
[data-theme='light'] .dark-only {
  display: none;
}
