:root,
[data-theme='light'] {
  color-scheme: light;

  // Background color
  --palette-bg-hsl: 250 38% 98%;
  --palette-bg: hsl(var(--palette-bg-hsl));

  // Surface color
  --palette-surface-hsl: 255 100% 100%;
  --palette-surface: hsl(var(--palette-surface-hsl));

  // Text color
  --palette-text-hsl: 0 0% 0%;
  --palette-text: hsl(var(--palette-text-hsl));

  // Muted color
  --palette-muted-hsl: 250 20% 50%;
  --palette-muted: hsl(var(--palette-muted-hsl));
  --palette-fill: hsl(var(--palette-muted-hsl) / 0.1);
  --palette-fill-soft: hsl(var(--palette-muted-hsl) / 0.05);
  --palette-stroke: hsl(var(--palette-muted-hsl) / 0.25);

  // Emphasis color
  --palette-emphasis: hsl(217, 16%, 22%);
  --palette-emphasis-contrast: #fff;

  // Accent color
  --palette-accent-h: 252;
  --palette-accent-s: 93%;
  --palette-accent-l: 58%;
  --palette-accent: hsl(
    var(--palette-accent-h) var(--palette-accent-s) var(--palette-accent-l)
  );
  --palette-accent-contrast: #fff;
  --palette-accent-soft: hsl(
    var(--palette-accent-h) var(--palette-accent-s) 92%
  );
  --palette-accent-text: hsl(
    var(--palette-accent-h) var(--palette-accent-s)
      calc(var(--palette-accent-l) * 0.9)
  );

  // Danger color
  --palette-danger-h: 0;
  --palette-danger-s: 100%;
  --palette-danger-l: 38%;
  --palette-danger: hsl(
    var(--palette-danger-h) var(--palette-danger-s) var(--palette-danger-l)
  );
  --palette-danger-contrast: #fff;
  --palette-danger-soft: hsl(
    var(--palette-danger-h) var(--palette-danger-s) 92%
  );
  --palette-danger-text: hsl(
    var(--palette-danger-h) var(--palette-danger-s)
      calc(var(--palette-danger-l) * 0.9)
  );

  // Warning color
  --palette-warning-h: 60;
  --palette-warning-s: 100%;
  --palette-warning-l: 45%;
  --palette-warning: hsl(
    var(--palette-warning-h) var(--palette-warning-s) var(--palette-warning-l)
  );
  --palette-warning-contrast: hsl(
    var(--palette-warning-h) var(--palette-warning-s) 15%
  );
  --palette-warning-soft: hsl(
    var(--palette-warning-h) var(--palette-warning-s) 92%
  );
  --palette-warning-text: hsl(
    var(--palette-warning-h) var(--palette-warning-s) 24%
  );

  // Success color
  --palette-success-h: 127;
  --palette-success-s: 100%;
  --palette-success-l: 27%;
  --palette-success: hsl(
    var(--palette-success-h) var(--palette-success-s) var(--palette-success-l)
  );
  --palette-success-contrast: #fff;
  --palette-success-soft: hsl(
    var(--palette-success-h) var(--palette-success-s) 92%
  );
  --palette-success-text: hsl(
    var(--palette-success-h) var(--palette-success-s)
      calc(var(--palette-success-l) * 0.9)
  );

  // Activity color
  --palette-activity-h: 23;
  --palette-activity-s: 100%;
  --palette-activity-l: 45%;
  --palette-activity: hsl(
    var(--palette-activity-h) var(--palette-activity-s)
      var(--palette-activity-l)
  );
  --palette-activity-contrast: #fff;
  --palette-activity-soft: hsl(
    var(--palette-activity-h) var(--palette-activity-s) 92%
  );
  --palette-activity-text: hsl(
    var(--palette-activity-h) var(--palette-activity-s)
      calc(var(--palette-activity-l) * 0.9)
  );
}

[data-theme='dark'] {
  color-scheme: dark;

  --palette-bg-hsl: 250 20% 8%;
  --palette-surface-hsl: 250 20% 12%;

  --palette-text-hsl: 250 20% 93%;
  --palette-muted-hsl: 250 20% 60%;

  --palette-accent-soft: hsl(
    var(--palette-accent-h) var(--palette-accent-s) 20%
  );
  --palette-accent-text: hsl(
    var(--palette-accent-h) var(--palette-accent-s)
      calc(var(--palette-accent-l) * 1.3)
  );

  --palette-danger-soft: hsl(
    var(--palette-danger-h) var(--palette-danger-s) 10%
  );
  --palette-danger-text: hsl(
    var(--palette-danger-h) var(--palette-danger-s)
      calc(var(--palette-danger-l) * 1.3)
  );

  --palette-warning-soft: hsl(
    var(--palette-warning-h) var(--palette-warning-s) 10%
  );
  --palette-warning-text: hsl(
    var(--palette-warning-h) var(--palette-warning-s) 40%
  );

  --palette-success-soft: hsl(
    var(--palette-success-h) var(--palette-success-s) 10%
  );
  --palette-success-text: hsl(
    var(--palette-success-h) var(--palette-success-s)
      calc(var(--palette-success-l) * 1.3)
  );

  --palette-activity-soft: hsl(
    var(--palette-activity-h) var(--palette-activity-s) 10%
  );
  --palette-activity-text: hsl(
    var(--palette-activity-h) var(--palette-activity-s)
      calc(var(--palette-activity-l) * 1.3)
  );
}

:root {
  // Shadows
  --shadow-sm:
    0 0 0 1px var(--palette-fill-soft), 0 1px 4px var(--palette-fill);
  --shadow-md: 0 0 0 1px var(--palette-fill), 0 5px 15px var(--palette-stroke);

  // Overlays
  --color-overlay: rgb(0 0 0 / 0.5);

  // Filters
  --filter-hover: brightness(0.95);
  --filter-active: brightness(0.9);

  // Spacing
  --ratio: 1.5;
  --space-px: 1px;
  --space-xxs: calc(var(--space-xs) / var(--ratio));
  --space-xs: calc(var(--space-sm) / var(--ratio));
  --space-sm: calc(var(--space-md) / var(--ratio));
  --space-md: 1rem;
  --space-lg: calc(var(--space-md) * var(--ratio));
  --space-xl: calc(var(--space-lg) * var(--ratio));
  --space-xxl: calc(var(--space-xl) * var(--ratio));
  --space-xxxl: calc(var(--space-xxl) * var(--ratio));
  --space-gutter: clamp(var(--space-lg), 3vw, var(--space-xl));

  // Font
  --font-system: system-ui;
  --font-text: var(--font-system);
  --font-display: var(--font-text);
  --font-mono:
    SFMono-Regular, Menlo, Monaco, Consolas, 'Courier New', monospace;

  // Font weights
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 600;

  // Line height
  --line-height-default: 1.3;
  --line-height-condensed: 1.2;
  --line-height-expanded: 1.5;

  // Typographic measure
  --measure: 92ch;

  // Z-indexes
  --z-index-header: 100;
  --z-index-overlay: 200;
  --z-index-alerts: 300;

  // Font size
  --text-xxs: 0.8rem;
  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-xxl: 2.5rem;

  // Border radius
  --radius: 12px;

  // Controls
  --control-height: 2.5em;
  --control-height-small: 2.3em;
  --control-radius: var(--radius);
  --toolbar-height: calc(var(--control-height) + 2 * var(--space-xxs));

  // Header
  --header-height: 4rem;

  // Transitions
  --transition-duration: 0.2s;
  --ease-out: cubic-bezier(0.36, 0.66, 0.04, 1);
}

:root,
.menu {
  --color-bg: var(--palette-bg);
  --color-surface: var(--palette-surface);
  --color-text: var(--palette-text);
  --color-muted: var(--palette-muted);
  --color-fill: var(--palette-fill);
  --color-fill-soft: var(--palette-fill-soft);
  --color-stroke: var(--palette-stroke);
  --color-emphasis: var(--palette-emphasis);
  --color-emphasis-contrast: var(--palette-emphasis-contrast);
  --color-accent: var(--palette-accent);
  --color-accent-contrast: var(--palette-accent-contrast);
  --color-accent-soft: var(--palette-accent-soft);
  --color-accent-text: var(--palette-accent-text);
  --color-danger: var(--palette-danger);
  --color-danger-contrast: var(--palette-danger-contrast);
  --color-danger-soft: var(--palette-danger-soft);
  --color-danger-text: var(--palette-danger-text);
  --color-warning: var(--palette-warning);
  --color-warning-contrast: var(--palette-warning-contrast);
  --color-warning-soft: var(--palette-warning-soft);
  --color-warning-text: var(--palette-warning-text);
  --color-success: var(--palette-success);
  --color-success-contrast: var(--palette-success-contrast);
  --color-success-soft: var(--palette-success-soft);
  --color-success-text: var(--palette-success-text);
  --color-activity: var(--palette-activity);
  --color-activity-contrast: var(--palette-activity-contrast);
  --color-activity-soft: var(--palette-activity-soft);
  --color-activity-text: var(--palette-activity-text);
}
