@define-mixin clickable {
  &:is(:disabled, .is-disabled) {
    opacity: 0.5;
    cursor: default;
  }

  .is-inert {
    cursor: default;
  }

  &:not(:disabled, .is-disabled, .is-inert) {
    cursor: pointer;

    &:is(:hover, .is-hovered, :focus, .is-focused, [aria-selected='true']) {
      filter: var(--filter-hover);
    }

    &:is(:active) {
      filter: var(--filter-active);
    }

    &:active {
      transform: scale(0.97);
    }
  }
}

@define-mixin spinner {
  width: 2em;
  height: 2em;
  border: 0.35em solid var(--color-fill);
  border-top-color: var(--color-stroke);
  border-radius: 50%;
  animation: spinner 0.6s infinite linear;
}
