@define-mixin clickable {
  &:is(:disabled, .is-disabled) {
    opacity: 0.5;
    cursor: default;
  }

  &.is-inert {
    cursor: default;
  }

  &:not(:disabled, .is-disabled, .is-inert) {
    cursor: pointer;

    &:is(:hover, .is-hovered, :focus, .is-focused, [aria-selected='true']) {
      filter: var(--filter-hover);
    }

    &:is(:active) {
      filter: var(--filter-active);
    }

    &:active {
      transform: scale(0.97);
    }
  }
}

@define-mixin spinner {
  width: 2em;
  height: 2em;
  border: 0.35em solid var(--color-fill);
  border-top-color: var(--color-stroke);
  border-radius: 50%;
  animation: spinner 0.6s infinite linear;
}

@define-mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@define-mixin btn--icon {
  width: var(--btn-height);
  padding: 0;
  border-radius: 100px;
  position: relative;

  .avatar {
    width: 100%;
    height: 100%;
  }

  .icon {
    font-size: 120%;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
  }

  > :not(.avatar, .badge, .icon) {
    @mixin visually-hidden;
  }
}
