.channel-label {
  display: inline-flex;
  align-items: center;
  gap: var(--space-xxs);
  vertical-align: middle;
  color: inherit;
  text-decoration: none;

  a&:hover > :last-child {
    text-decoration: underline;
  }
}

.group-label {
  background: var(--group-color, var(--color-fill)) !important;
  color: var(--group-color-constrast, var(--color-text-muted)) !important;
}
