.header {
  background: var(--color-bg);
  position: sticky;
  top: -1px; // ensures that .is-stuck only applies when scrolled down
  z-index: var(--z-index-header);
  border-bottom: 1px solid var(--color-stroke);
  transition: box-shadow 0.2s, border 0.2s;

  .container {
    height: var(--header-height);
  }

  &.is-stuck {
    box-shadow: var(--shadow-sm);
    border-bottom: 0;
  }
}

.header-breadcrumb {
  color: var(--color-muted);
  transition: opacity 0.2s, transform 0.2s;
  margin-left: var(--space-xs);
  flex-shrink: 99;

  &::before {
    content: ' › ';
    margin: 0 var(--space-xs);
  }

  &[hidden] {
    display: block !important;
    visibility: hidden;
    transform: translateY(10px);
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s, visibility 0s 0.2s;
  }
}

.header-user,
.header-search__form {
  margin-inline: var(--space-xs);
}

.header-search__form input {
  width: 30ch;
}

.email-verification-banner {
  padding-block: var(--space-md);
}
