@media (min-width: (@breakpoint-sm + 1)) {
  .index-nav-structure {
    display: block;

    > :first-child {
      display: none;
    }

    > :last-child {
      //all: initial !important;
      display: contents !important;
    }
  }
}

.index-layout {
  main {
    > * + * {
      margin-top: var(--space-lg);
    }
  }
}
