.post-summary__avatar {
  width: 2.6em;
  height: 2.6em;
  text-decoration: none !important;
}

.post-summary__title a {
  padding: 10px 0;
  margin: -10px 0;
  display: block;

  .not-logged-in &:visited,
  .is-read & {
    color: var(--color-muted);
  }
}

.is-read .post-summary__unread {
  display: none;
}
