.post-list-item {
  display: flex;
  gap: var(--space-sm);
}

.post-list-item__content {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-sm);

  > .post-summary {
    flex-grow: 1;
  }

  //.metric {
  //  min-width: 5ch;
  //}
  //
  //.metric__label {
  //  .visually-hidden();
  //}

  //.post-footer {
  //  flex-shrink: 0;
  //}
}

@media (max-width: @breakpoint-sm) {
  .post-list-item__content {
    flex-direction: column;

    //> .post-footer {
    //  margin-left: ~"calc(2.6em + var(--space-md))";
    //}
  }
}

@media (min-width: (@breakpoint-sm + 1)) {
  .post-list-item {
    align-items: center;
  }
}

.post-cards {
  > * + * {
    margin-top: var(--space-lg);
  }

  margin-bottom: var(--space-lg);
}

.post-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.post-card__header {
  display: flex;
  justify-content: space-between;
}

.post-card__content {
}
