.post-full__main {
  > * + * {
    margin-top: var(--space-xl);
  }
}


.post-header {
  margin-top: var(--space-xl);

  > * + * {
    margin-top: var(--space-xl);
  }

  .channel-label {
    font-size: 1.125em;
    font-weight: var(--weight-medium);
  }
}

.post-body {
  font-size: var(--text-md);
}


.post-comments__toolbar {
  gap: var(--space-md);
}

.post-comments__unread {
  color: var(--color-activity);
}
