@import '../system/_variables';

@import '../system/_reset';
@import '../system/_base';

@import '../system/_attribution';
@import '../system/_avatar';
@import '../system/_badge';
@import '../system/_breadcrumb';
@import '../system/_btn';
@import '../system/_card';
@import '../system/_choice';
@import '../system/_dialog';
@import '../system/_divider';
@import '../system/_form';
@import '../system/_highlight';
@import '../system/_icon';
@import '../system/_input';
@import '../system/_layout';
@import '../system/_loading';
@import '../system/_menu';
@import '../system/_nav';
@import '../system/_placeholder';
@import '../system/_search-input';
@import '../system/_skip-link';
@import '../system/_table';
@import '../system/_tabs';
@import '../system/_tooltip';
@import '../system/_turbo';
@import '../system/_typography';

@import '../system/_alert';
@import '../system/_alerts';

@import '_channel-card';
@import '_channel-label';
@import '_comment';
@import '_composer';
@import '_header';
@import '_hero';
@import '_index-nav';
@import '_post-comments';
@import '_post-create';
@import '_post-footer';
@import '_post-full';
@import '_post-list';
@import '_post-page';
@import '_post-summary';
@import '_user-label';

@import '../system/_utils';

.ruler {
  width: 100%;
  margin: 0 0 0 ~'calc(-1 * var(--space-md))';
  flex-direction: column;
  align-items: stretch;
  font-size: var(--text-xs);

  .tab {
    text-align: left;
    padding-left: var(--space-md);

    &.is-active,
    &[aria-current='page'] {
      &::after {
        width: 3px;
        height: 100%;
        bottom: 0;
        left: 0;
        transform: none;
        min-width: 0;
      }
    }
  }

  > :first-child {
    margin-bottom: var(--space-xs);
  }

  > :last-child {
    margin-top: var(--space-xs);
  }
}

.ruler__unread {
  color: var(--color-activity);
  margin: var(--space-xs) 0;

  &::before {
    width: var(--space-md);
    flex-grow: 0;
  }

  &::after {
    display: none;
  }
}

.feed__last-visit-divider {
  color: var(--color-accent);
}

.feed__new-activity {
  position: sticky;
  top: ~'calc(var(--header-height) + var(--space-md))';
  animation: appear 0.5s;
  margin: 0;

  > * {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn {
    box-shadow: var(--shadow-md);
    background-color: var(--color-activity);
    color: var(--color-activity-contrast);
  }
}

.channel-picker__menu {
  max-width: 50ch;

  --space-xxs: 0.3rem;
  --space-xs: 0.6rem;

  .icon:first-child {
    font-size: var(--text-lg);
  }
}

.post-title {
  form {
    display: none;
  }
}

.search-results .post-summary__title a:visited {
  color: var(--color-muted);

  mark {
    color: var(--color-muted);
  }
}

.email-verification-notice {
  padding-block: var(--space-xs);
  font-size: var(--text-xs);
}

.notifications-menu {
  width: 55ch;
  max-width: 100%;
  max-height: 40em;

  .menu-item {
    margin-top: 2px;
  }
}

.notification {
  > .icon {
    color: var(--color-muted);
    font-size: 1.2em;
  }

  strong {
    font-weight: var(--weight-medium);
    color: var(--color-accent);
  }

  &.is-unread {
    background-image: linear-gradient(var(--color-activity-light), var(--color-activity-light)),
      linear-gradient(var(--color-bg), var(--color-bg));

    > .icon,
    time {
      color: var(--color-activity);
    }

    strong {
      color: var(--color-activity);
    }
  }

  .menu-item__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.notification-alert {
  display: flex;
}

// TODO: remove padding and border from .comment by default, add as part of the
// "comment stream" context
.comment-card {
  .comment {
    border: 0;
    padding-top: 0;
  }

  .comment__main {
    padding-bottom: 0;
  }

  .comment__body {
    max-height: 10em;
    overflow: auto;
  }
}

.notification-grid {
  .choice {
    width: 10ch;
  }
}

.post-list {
  > * {
    padding: var(--space-md) 0;
  }
}

@media (max-width: (@breakpoint-sm - 1)) {
  .header-search__form {
    display: none;
  }
}

@media (min-width: @breakpoint-sm) {
  .header-search__button {
    display: none;
  }
}
