.permission-grid {
  & thead th {
    width: 9ch;
    padding-inline: var(--space-xxs);
    text-align: center;
    vertical-align: top;
  }
}

.permission-grid__structure {
  padding-inline-start: calc(var(--structure-depth, 0) * 1.5rem);
}
