.cp-structure {
  padding: 0;
  overflow: hidden;

  & li {
    border-top: 1px solid var(--color-stroke);
  }

  > :first-child {
    border-top: 0;
  }

  .placeholder:not(:only-child) {
    display: none;
  }
}

.cp-structure__node {
  list-style: none;
}

.drag-handle {
  display: flex;
  color: var(--color-muted);
  cursor: move;

  > * {
    opacity: 0.5;
  }

  .no-js & {
    display: none;
  }
}

[data-dnd-dragging='true'] {
  border: 0 !important;
  background: var(--color-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow-md);
}

.cp-structure__label {
  font-weight: var(--weight-medium);
}
