.alert {
  border-radius: var(--border-radius);
  padding: var(--space-md);
  background: var(--color-fill);
  display: flex;
  align-items: flex-start;
  font-size: var(--text-xs);
}

.alert--danger {
  background: var(--color-danger);
  color: var(--color-danger-contrast);
}

.alert--info {
  background: var(--color-info);
}

.alert__icon {
  margin-right: var(--space-md);
  font-size: var(--text-md);
}
