.alerts {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  left: 0;
  padding: var(--space-lg);
  pointer-events: none;
  position: fixed;
  bottom: 0;
  z-index: var(--z-index-alerts);

  > * {
    max-width: 50ch;
    pointer-events: auto;
    transition: all .3s;
    box-shadow: var(--shadow-md);
  }

  @media (max-width: @breakpoint-sm) {
    align-items: stretch;
    right: 0;

    > * {
      max-width: none;
    }
  }

  .enter-from,
  .leave-to {
    opacity: 0;
  }

  .enter-from {
    transform: translateY(100%);
  }

  .leave-active {
    position: absolute;
  }

  .leave-to {
    filter: blur(4px);
  }
}
