/*
Alerts

Alerts visually highlight important content for the user. They can contain an icon, a message, and actions.

Markup:
<div class="alert {{.modifier}}">
  <svg class="alert__icon"><!-- ... --></svg>
  <div class="alert__message">Something happened!</div>
  <div class="alert__actions">

  </div>
</div>

Styleguide card
*/

.alert {
  border-radius: var(--border-radius);
  padding: var(--space-xs) var(--space-md);
  min-height: var(--control-height);
  background: var(--color-fill);
  display: flex;
  align-items: flex-start;
}

.alert__icon {
  font-size: var(--text-md);
  margin-right: var(--space-xs);
  line-height: 1;
  margin-top: 2px;
}

.alert__message {
  margin-right: auto;
  line-height: 1.5;
  min-width: 0;
  font-size: var(--text-xs);
  align-self: center;
}

.alert__actions {
  display: flex;
  margin: ~"calc(-1 * var(--space-xxs))" ~"calc(-1 * var(--space-xs))";
  margin-left: var(--space-md);
  font-size: var(--text-xs);
}


// Sizes

.alert--lg {
  padding: var(--space-md);
}

.alert--xl {
  padding: var(--space-lg);

  .alert__icon {
    font-size: var(--text-xl);
    margin-right: var(--space-lg);

    path {
      stroke-width: 1.5px;
    }
  }
}

// Colors

.alert--info {
  background: var(--color-info);
}

.alert--danger {
  background: var(--color-danger);
  color: var(--color-danger-contrast);
  font-weight: var(--font-weight-medium);

  --color-text: var(--color-danger-contrast);
  --color-text-muted: var(--color-danger-contrast);
}

.alert--success {
  background: var(--color-success);
  color: var(--color-success-contrast);
  font-weight: var(--font-weight-medium);

  --color-text: var(--color-success-contrast);
  --color-text-muted: var(--color-success-contrast);
}

// Notification Alerts

.alert--notification {
  max-width: 50ch;
  background: var(--color-bg);
  background-image:
    linear-gradient(var(--color-unread-light), var(--color-unread-light)),
    linear-gradient(var(--color-bg), var(--color-bg));

  .alert__message {
    line-height: inherit;
    margin: 0 ~"calc(-1 * var(--space-xs))";
  }
}
