.attribution {
  --avatar-size: 2.5em;

  padding-left: ~"calc(var(--avatar-size) + var(--space-md))";

  .avatar {
    float: left;
    margin-left: ~"calc(-1 * (var(--avatar-size) + var(--space-md)))";
    width: var(--avatar-size);
    height: var(--avatar-size);
  }
}

.attribution__name {
  color: inherit;
  font-weight: var(--weight-medium);
  text-decoration: none;
  margin-right: var(--space-xxs);

  &:hover {
    text-decoration: underline;
  }
}

.attribution__group {
  vertical-align: top !important;
}

.attribution__info {
  display: block;
  font-size: var(--text-xs);
  color: var(--color-muted);
  margin-top: var(--space-xxs);

  > * + *::before {
    content: ' · ';
  }
}
