.badge {
  border-radius: 999px;
  background: var(--color-fill);
  color: var(--color-muted);
  border: 0;
  margin: 0;
  font-size: var(--text-xxs);
  font-weight: var(--weight-medium);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5ch;
  min-height: 1.7em;
  text-align: center;
  padding: 0 0.6em;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > .icon:first-child {
    margin-left: -0.2em;
    margin-right: 0.2em;
  }

  .icon path {
    stroke-width: 2.5;
  }
}
