.badge {
  border-radius: 100px;
  background: var(--color-accent);
  color: var(--color-accent-contrast);
  border: 0;
  margin: 0;
  font-size: var(--text-xxs);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 3ch;
  min-height: 1.5em;
  text-align: center;
  padding: 0 .5em;
}
