html {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-plain);
  font-size: 100%;
  line-height: 1.3;
  scroll-padding-top: var(--header-height);// ~"calc(var(--header-height) + var(--space-lg))";

  @media (max-width: @breakpoint-xs) {
    font-size: 90%;
  }
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: 1px solid var(--color-stroke);
  margin: var(--space-xl) 0;
}

:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

[tabindex="-1"]:focus {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

#main {
  margin-bottom: 5rem;
}

mark {
  background: transparent;
  font-weight: bold;
  color: var(--color-text);
}

.icon {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: -0.2em;
}

.panels {
  > * + * {
    margin-top: var(--space-sm);
  }
}

.panel {
  border: 1px solid var(--color-stroke);
  border-radius: var(--border-radius);
}

.panel__header {
  background: var(--color-fill);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius);

  summary& {
    cursor: pointer;
  }

  .panel[open] & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.panel__body {
  padding: var(--space-lg);
}

.combobox {
  position: relative;
}

.combobox__list {
  position: absolute;
  top: 100%;
  left: 0;
  max-width: none !important;
  width: 100% !important;
}
