.btn {
  height: var(--control-height);
  background: var(--color-fill);
  color: var(--color-text);
  border-radius: var(--border-radius);
  border: 0;
  margin: 0;
  display: inline-flex;
  gap: var(--space-xxs);
  align-items: center;
  justify-content: center;
  padding: 0 ~"calc(.4 * var(--control-height))";
  text-decoration: none !important;
  font-weight: var(--font-weight-medium);
  white-space: nowrap;
  vertical-align: bottom;

  .icon {
    flex-shrink: 0;
  }

  &.is-loading {
    &::before {
      content: '';
      flex-shrink: 0;
      margin-right: .3em;
      width: 1.2em;
      height: 1.2em;
      border: .15em currentColor solid;
      border-top-color: transparent !important;
      border-radius: 50%;
      animation: loading-indicator .6s infinite linear;
    }

    > .icon:first-child {
      display: none;
    }
  }

  button&,
  a&,
  &[role=button],
  &[role=link] {
    .clickable();
  }
}

.btn--primary {
  background: var(--color-accent);
  color: var(--color-accent-contrast);
}

.btn--danger,
.btn.is-destructive {
  background: var(--color-danger);
  color: var(--color-danger-contrast);
}

.btn--success {
  background: var(--color-success);
  color: var(--color-success-contrast);
}

.btn--link {
  background: transparent;
  color: var(--color-link);
  padding-left: var(--space-xs) !important;
  padding-right: var(--space-xs) !important;
}

:not([open]) > .btn--transparent:not(:hover, .is-hovered, :focus, .is-focused, [selected=true], [aria-pressed=true]),
.btn--transparent:is(:disabled, .is-disabled),
.btn--transparent:not(button, a, [role=button], [role=link]) {
  background: transparent;
  color: var(--color-text-muted);
}

.btn--small {
  --control-height: var(--control-height-small);
  padding: 0 ~"calc(.25 * var(--control-height-small))";
  font-size: 90%;
}

.btn--inline {
  margin: ~"calc(-.1 * var(--control-height)) calc(-.25 * var(--control-height))";
}

.btn--wide {
  padding: 0 ~"calc(.5 * var(--control-height))";
}

.btn--icon {
  width: var(--control-height);
  padding: 0;
  border-radius: 100px;
  position: relative;

  .avatar {
    width: 100%;
    height: 100%;
  }

  .icon {
    font-size: 120%;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.btn--block {
  width: 100%;
}

.btn.is-active {
  color: var(--color-accent) !important;
  background: var(--color-accent-light) !important;
  border-color: transparent;
}

.btn--outline {
  border: 1px solid var(--color-stroke);
  background: var(--color-bg);
  color: var(--color-text-muted);
}

.btn--tooltip {
  background: var(--color-tooltip);
  color: var(--color-tooltip-contrast);
}
