.btn {
  height: var(--control-height);
  background: var(--color-fill);
  color: var(--color-text);
  border-radius: var(--radius);
  border: 0;
  margin: 0;
  display: inline-flex;
  gap: var(--space-xxs);
  align-items: center;
  justify-content: center;
  padding: 0 ~"calc(.4 * var(--control-height))";
  text-decoration: none !important;
  font-weight: var(--weight-medium);
  white-space: nowrap;
  vertical-align: middle;

  .icon {
    flex-shrink: 0;
  }

  button&,
  a&,
  &[role=button],
  &[role=link] {
    .clickable();
  }
}

:not([open]) > .btn--transparent:not(:hover, .is-hovered, :focus, .is-focused, [selected=true], [aria-pressed=true]),
.btn--transparent:is(:disabled, .is-disabled),
.btn--transparent:not(button, a, [role=button], [role=link]) {
  background: transparent;
  color: var(--color-muted);
}

.btn--small {
  --control-height: var(--control-height-small);
  padding: 0 ~"calc(.25 * var(--control-height-small))";
  font-size: 90%;
}

.btn--narrow {
  padding: 0 ~"calc(.3 * var(--control-height))";
}

.btn--wide {
  padding: 0 ~"calc(.5 * var(--control-height))";
}

.btn--edge {
  margin: ~"calc(-.1 * var(--control-height)) calc(-.25 * var(--control-height))";
}

.btn--icon {
  width: var(--control-height);
  padding: 0;
  border-radius: 100px;
  position: relative;

  .avatar {
    width: 100%;
    height: 100%;
  }

  .icon {
    font-size: 120%;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.btn.is-active {
  color: var(--color-accent) !important;
  background: var(--color-accent-light) !important;
  border-color: transparent;
}

.btn--outline {
  border: 1px solid var(--color-stroke);
  background: var(--color-bg);
  color: var(--color-muted);
}
