.dialog {
  margin: 3rem auto;
  max-width: 100%;
  width: fit-content;
  border: 1px solid var(--color-stroke);
  border-radius: var(--border-radius);
  padding: var(--space-xl);
  background: var(--color-bg);
}

.dialog--sm {
  width: 45ch;
}

.dialog--md {
  width: 55ch;
}

.dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-lg);
}

.dialog__close {
  margin: -10px;
}
