.dialog {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: 1px solid var(--color-stroke);
  border-radius: var(--radius);
  padding: var(--space-xl);
  background: var(--color-bg);
}

.dialog--sm {
  width: 45ch;
}

.dialog--md {
  width: 55ch;
}

.dialog--lg {
  width: 65ch;
}

.dialog--xl {
  width: 75ch;
}

.dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-md);
}
