.divider {
  display: flex;
  align-items: center;
  color: var(--color-text-muted);
  text-transform: uppercase;
  font-size: var(--text-xxs);
  font-weight: var(--font-weight-bold);
  margin: var(--space-xs) 0;
  padding: var(--space-sm) 0;

  &::before,
  &::after {
    content: '';
    flex-grow: 1;
    border-bottom: 2px solid;
  }

  &::before {
    margin-right: 5px;
  }

  &::after {
    margin-left: 5px;
  }
}
