.form {
  > * + * {
    margin-top: 2rem;
  }
}

.field {
  > * + * {
    margin-top: .6rem;
  }
}

.field__label {
  display: block;
  font-size: .9rem;
  font-weight: var(--font-weight-medium);
}

.field__description {
  display: block;
  font-size: var(--text-xs);
  color: var(--color-text-muted);
}

.field__status {
  font-size: .9rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-muted);

  .has-error & {
    color: var(--color-danger);
  }
}

.form-groups {
  > * {
    display: flex;

    > :first-child:not(:only-child) {
      flex-basis: 25%;
      flex-shrink: 0;
    }

    > :nth-child(2) {
      flex-grow: 1;
      margin: 0;
    }
  }

  > * + * {
    border-top: 1px solid var(--color-stroke);
    margin-top: var(--space-lg);
    padding-top: var(--space-lg);
  }
}
