.icon {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: -0.2em;
}

.icon--thin path {
  stroke-width: 1.5;
}

.icon--thick path {
  stroke-width: 2.5;
}

.icon--narrow {
  margin-left: -.2em;
  margin-right: -.2em;
}
