#waterhole {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

#main {
  flex-grow: 1;
}

.container {
  margin-inline: auto;
  padding-inline: var(--space-gutter);
  max-width: @breakpoint-md;
  width: 100%;
}

.section {
  padding-block: var(--space-gutter);
}

.spacer {
  flex-grow: 1;
}

.with-sidebar {
  display: flex;
  align-items: flex-start;
}

.with-sidebar > :not(.sidebar) {
  flex-grow: 999;
  min-width: 0;
  margin-inline: auto;
}

@media (max-width: @breakpoint-sm) {
  .with-sidebar {
    flex-direction: column;
    gap: var(--space-md);
  }
}

@media (min-width: (@breakpoint-sm + 1)) {
  .with-sidebar {
    gap: var(--space-xxl);

    .sidebar {
      width: 25ch;
      flex-shrink: 0;
    }
  }

  .sidebar--sticky {
    position: sticky;
    top: var(--header-height);
    margin-top: ~'calc(-1 * var(--space-xl))';
    padding-top: var(--space-xl);
    padding-bottom: var(--space-lg);
    overflow: auto;
    max-height: ~'calc(100vh - var(--header-height))';
    margin-left: ~'calc(-1 * var(--space-xl))';
    padding-left: var(--space-xl);
    box-sizing: content-box;

    // When there are multiple sticky sidebars with protruding content (like
    // popups), bring the "active" one to the front.
    &:hover,
    &:focus-within {
      z-index: 1;
    }
  }
}
