.nav {
  list-style: none;
  margin-inline: 0;
  padding-inline: 0;
}

.nav-heading {
  color: var(--color-muted);
  font-size: 0.8rem;
  font-weight: var(--weight-medium);
  text-transform: uppercase;
  margin-bottom: var(--space-xs);
  padding: 0 var(--space-xs);
  width: 100%;

  * + & {
    margin-top: var(--space-lg);
  }
}

.nav-link {
  display: flex;
  //width: 100%;
  align-items: center;
  gap: var(--space-xs);
  min-height: var(--control-height);
  padding: var(--space-xs);
  font-weight: var(--weight-medium);
  text-decoration: none !important;
  color: var(--color-text);
  border-radius: var(--radius);

  > .icon {
    font-size: 120%;
  }

  > [class^='icon-fa'] {
    padding: 2px;
  }

  > .badge {
    margin-left: auto;
  }

  .clickable();
  transform: none !important;

  &:hover,
  &:focus {
    background: var(--color-fill);
  }

  &.is-active,
  &[aria-current='page'] {
    color: var(--color-accent);
    background: var(--color-accent-light);

    .badge {
      background: inherit;
      color: inherit;
    }
  }
}

//.nav-text {
//  padding: var(--space-xs);
//}
