.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: -0.2em;
}

.with-icon {
  display: inline-flex;
  align-items: baseline;

  > :first-child {
    margin-right: .2em;
    align-self: center;
    margin-top: -1px;
  }
}

.align-center {
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.hide-icon {
  .icon {
    display: none;
  }
}

.block {
  display: block;
  width: 100%;
}

.inline {
  display: inline;
  vertical-align: middle;
}

.scrollable {
  overflow: auto;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Rotation
.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}


.link--muted {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  color: var(--color-text-muted);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-xs);
  appearance: none;

  &:hover {
    text-decoration: underline;
  }
}

.link--sm {
  font-size: var(--text-xs);
  font-weight: var(--font-weight-medium);
}

.clickable {
  &:is(:disabled, .is-disabled) {
    opacity: .5;
    cursor: default;
  }

  &:not(:disabled, .is-disabled) {
    cursor: pointer;

    &:is(
      :hover, .is-hovered,
      :focus, .is-focused,
      [aria-selected=true]
    ) {
      filter: var(--filter-hover);
    }

    &:is(:active, [aria-pressed=true]) {
      filter: var(--filter-active);
    }

    &:active {
      transform: scale(0.97);
    }
  }
}

.text-danger {
  color: var(--color-danger);
  font-weight: var(--font-weight-bold);
}

.text-unread {
  color: var(--color-unread);
  font-weight: var(--font-weight-bold);
}

.text-success {
  color: var(--color-success);
  font-weight: var(--font-weight-bold);
}

.text-xxs {
  font-size: var(--text-xxs);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.animate-shake {
  animation: shake .8s;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}

.color-text {
  color: var(--color-text);
}

.color-muted {
  color: var(--color-text-muted);
}

.pointer-events-none {
  pointer-events: none;
}

.js .no-js-only,
.no-js .js-only {
  display: none !important;
}
