@breakpoint-xs: 576px;
@breakpoint-sm: 850px;
@breakpoint-md: 1100px;
@breakpoint-lg: 1200px;

:root {
  // Base color
  --base-h: 250;
  --base-s: 20%;

  --color-bg: #fff;
  --color-bg-translucent: rgba(255, 255, 255, 0.9);
  --color-bg-transparent: rgba(255, 255, 255, 0);

  --color-fill: ~"hsla(var(--base-h), var(--base-s), 50%, 0.1)";
  --color-stroke: ~"hsla(var(--base-h), var(--base-s), 50%, 0.25)";

  --color-text: #000;
  --color-text-muted: ~"hsl(var(--base-h), calc(var(--base-s) / 2), 50%)";
  --color-link: var(--color-accent);

  // Accent color
  --accent-h: 250;
  --accent-s: 100%;
  --accent-l: 60%;
  --accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);

  --color-accent: ~"hsl(var(--accent-hsl))";
  --color-accent-contrast: #fff;
  //--color-accent-light: ~"hsla(var(--accent-hsl), 0.2)";
  --color-accent-light: #08FFE7;

  --color-info: #FFFFB2;

  // Tooltip color
  --color-tooltip: #303742;
  --color-tooltip-contrast: #fff;

  // Danger color
  --color-danger: #e85600;
  --color-danger-contrast: var(--color-bg);
  --color-danger-light: #e8560033;

  // Warning color
  --color-warning: #ffb700;
  --color-warning-contrast: var(--color-bg);
  --color-warning-light: #ffb70033;

  // Success color
  --color-success: #32b643;
  --color-success-contrast: var(--color-bg);
  --color-success-light: #32b64333;

  --color-unread: #FF6800;
  --color-unread-contrast: var(--color-bg);
  --color-unread-light: #FF680022;

  // Border radius
  --border-radius-sm: 5px;
  --border-radius: 10px;

  // Shadows
  --shadow-sm: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.2);

  // Filters
  --filter-hover: brightness(0.95);
  --filter-active: brightness(0.9);

  // Overlays
  --color-overlay-modal: rgba(0, 0, 0, 0.3);
  --color-overlay-dropdown: rgba(0, 0, 0, 0.3);

  // Font
  --font-plain: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-special: var(--font-plain);
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;

  // Font weights
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  // Z-indexes
  --z-index-header: 100;
  --z-index-overlay: 200;
  --z-index-alerts: 300;

  // Font size
  --text-xxs: .8rem; // rem so it doesn't get too small
  --text-xs: .875rem;
  --text-sm: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-xxl: 2.5rem;
  --text-xxxl: 3rem;

  // Spacing
  //--space-xxs: .25rem;
  //--space-xs: .5rem;
  //--space-sm: .75rem;
  //--space-md: 1rem;
  //--space-lg: 1.5rem;
  //--space-xl: 2rem;
  //--space-xxl: 2.5rem;
  //--space-xxxl: 3rem;

  --ratio: 1.5;
  --space-xxs: ~"calc(var(--space-xs) / var(--ratio))";
  --space-xs: ~"calc(var(--space-sm) / var(--ratio))";
  --space-sm: ~"calc(var(--space-md) / var(--ratio))";
  --space-md: 1rem;
  --space-lg: ~"calc(var(--space-md) * var(--ratio))";
  --space-xl: ~"calc(var(--space-lg) * var(--ratio))";
  --space-xxl: ~"calc(var(--space-xl) * var(--ratio))";
  --space-xxxl: ~"calc(var(--space-xxl) * var(--ratio))";

  --control-height: 2.5em;
  --control-height-small: 2em;

  --header-height: 4rem;
}

:root[data-theme="dark"] {
  --color-bg: #212028;
  --color-bg-translucent: rgba(17, 17, 17, 0.9);
  --color-bg-transparent: rgba(17, 17, 17, 0);

  --color-fill: ~"hsla(var(--base-h), var(--base-s), 30%, 0.4)";
  --color-stroke: ~"hsla(var(--base-h), var(--base-s), 50%, 0.4)";

  --color-text: #eee;
  --color-text-muted: ~"hsl(var(--base-h), calc(var(--base-s) / 2), 60%)";
  --color-link: var(--color-accent);

  --accent-l: 75%;
  --color-accent-contrast: #222;
  --color-accent-light: #004146;

  --shadow-sm: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 5px 15px rgba(0, 0, 0, 0.2);
}

:root[data-theme="dark"] .light-only,
:root:not([data-theme="dark"]) .dark-only {
  display: none;
}
