.header {
  padding: var(--size-md) 0;
  background: var(--color-bg);
  position: sticky;
  top: 0;

  .container {
    display: flex;
    align-items: center;
    gap: var(--size-sm);
  }
}

.forum-title {
  font-size: 1.5em;
  font-weight: var(--font-weight-medium);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
