.admin-dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: ~'calc(-1 * var(--space-sm))';

  > * {
    width: var(--admin-dashboard-widget-width, 100%);
    height: var(--admin-dashboard-widget-height, auto);
    padding: var(--space-sm);
    min-width: 30ch;
  }

  turbo-frame,
  .card {
    height: 100%;
  }
}

.line-chart-widget {
  min-height: 14em;
}

.getting-started__grid {
  --grid-min: 30ch;
}
