@import '_dashboard';
@import '_permission-grid';
@import '_structure';

.container {
  max-width: none;
}

.admin__content {
  max-width: 110ch;
}

.admin-title {
  margin-bottom: var(--space-lg);
}

.sortable > * {
  transition: transform 0.3s;
}
