@import '../system/_color-picker';

@import '_structure';
@import '_dashboard';
@import '_permission-grid';
//@import '../forum/_composer';

//@import '../system/_utils';

.container {
  max-width: none;
}

.admin-header {
  margin-bottom: var(--space-lg);
}

.admin__content {
  max-width: 110ch;
}

.sortable {
  overflow: hidden;

  > * {
    transition: transform 0.3s;
  }
}
