@import '_dashboard.css';
@import '_permission-grid.css';
@import '_structure.css';

.container {
  max-width: none;
}

.admin__content {
  max-width: 110ch;
}

.admin-title {
  margin-bottom: var(--space-lg);
}

.sortable > * {
  transition: transform 0.3s;
}

.admin-help {
  text-align: center;
  font-size: var(--text-xs);
  margin-top: var(--space-xl);
}
